<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="Runiv URL Service">
<meta name="description" content="📝Simple & Configurable. ⚡Blazing fast URL Manager. Link owner - {{alias}}. Powered By RUNIV &copy; {{year}}">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<meta property="og:image" content="https://runiv.in/assets/favicon.ico" />
<script data-ad-client="ca-pub-1157775472270980" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>